## Import Libraries

In [1]:
import geoutils
from pathlib import Path
import pandas as pd
import numpy as np
import gdal
import matplotlib as mpl
import rasterio
import geopandas as gpd
print('import complete')

import complete

## Configure Paths

In [2]:
data_path = Path('/home/ahm/Datascience/Satellite Imagery Detection/getting_started_with_spacenet/processedBuildingLabels/data')

## Plotting Settings

In [3]:
%matplotlib inline

In [4]:
dpi = 300
mpl.rcParams['figure.dpi']= dpi

## Loading Data to DataFrame

In [5]:
# df = geoutils.get_dataframe_from_data(data_path=data_path)

In [6]:
# df.head()

In [7]:
# df['geoshape'] = df['geojson'].map(lambda x: geoutils.get_geojson_shape(x))

In [8]:
# df.to_pickle('df')

In [9]:
df = pd.read_pickle('df')

In [10]:
df.head()

,3band,8band,geojson,image_number,geoshape
0,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,1,"(0, 1)"
1,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,2,"(0, 1)"
2,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,3,"(0, 1)"
3,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,4,"(0, 1)"
4,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,5,"(0, 1)"

In [11]:
gdf = df[df['geoshape']!=(0,1)].reset_index(drop=True)

In [12]:
gdf.head()

,3band,8band,geojson,image_number,geoshape
0,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,12,"(5, 19)"
1,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,30,"(2, 19)"
2,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,44,"(1, 19)"
3,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,46,"(11, 19)"
4,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,/home/ahm/Datascience/Satellite Imagery Detect...,47,"(15, 19)"

In [13]:
gdf.to_pickle('gdf')

### Percentages of images with non-empty geojson files

In [14]:
gdf.shape[0]/df.shape[0]*100

62.10374639769453

In [1]:
import solaris as sol
from solaris.data import data_dir
import os
import json

/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/envs/solaris/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
def extract_vowels(string):
    vowels = ['a','o','u','i','e']
    extract = []
    for char in string.lower():
        if char in vowels:
            extract.append(char)
    return extract

In [3]:
string = 'thIs is a Test STring'
extract_vowels(string=string)

['i', 'i', 'a', 'e', 'i']

In [3]:
sol.nets